<aside class="sidebar">
  <!-- Sidebar content -->
  <img src="img/profil.png" alt="Fairuz Alauddin Yahya" class="profile-img" />
  <h2 class="name">Moh Fairuz Alauddin Yahya</h2>
  <div class="button-gradient-outline">Software Developer</div>
  <a
    href="https://drive.google.com/file/d/1YnRZfOUkJqdYgmnH0cU0B0geclKFx_0P/view"
    class="button-gradient-outline"
    target="_blank"
    >View CV</a
  >
  <div class="bio-data">
    <a href="mailto:fairuzy210@gmail.com" class="bio-item">
      <div class="bio-icon">📧</div>
      <div>
        <p class="bio-title">Email</p>
        <p class="bio-content">fairuzy210@gmail.com</p>
      </div>
    </a>
    <a href="https://wa.me/628993577066" class="bio-item">
      <div class="bio-icon">📞</div>
      <div>
        <p class="bio-title">Phone</p>
        <p class="bio-content">+62 812 3456 7890</p>
      </div>
    </a>
    <div class="bio-item">
      <div class="bio-icon">📍</div>
      <div>
        <p class="bio-title">Location</p>
        <p class="bio-content">Bandung, Indonesia</p>
      </div>
    </div>
  </div>
  <div class="social-links">
    <a
      href="https://www.linkedin.com/in/fairuz-alauddin-yahya-7b0b3b1b0/"
      class="social-icon"
      target="_blank"
      >🔗</a
    >
    <a href="https://github.com/fairuzald" class="social-icon" target="_blank"
      >🐙</a
    >
  </div>
</aside>
