@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Button styles with animations */
.button-gradient-outline {
  position: relative;
  background-color: #000; /* Black background */
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  animation: fadeInScale 0.7s ease-out;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-full{
  width: 90%;
}

.button-gradient-outline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, #ff00ff, #00ffff);
  background-size: 200% 200%;
  border-radius: 9999px;
  z-index: -1;
  animation: gradientShift 3s ease-in-out infinite;
  padding: 2px; /* Space for the border */
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.button-gradient-outline:hover {
  opacity: 0.9;
  transform: scale(1.05);
  transition: all 0.5s;
}
