/* Navbar styles */
.navbar {
  width: fit-content;
  margin-left: auto;
  padding: 1rem;
  background-color: #0b1438;
  border-bottom-left-radius: 1.5rem;
  border-left: 2px solid #858585;
  border-bottom: 2px solid #858585;
  animation: fadeIn 0.5s ease-out;
}

.nav-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav-item {
  margin: 0 0.5rem;
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 0.5s ease-out forwards;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: #08c2ff;
  transition: all 0.3s;
  border-bottom: #08c2ff 2px solid;
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 0px;
    border: 2px solid #858585;
  }

  .nav-link {
    padding: 0.5rem 0.75rem;
  }
}

@media (max-width: 500px) {
  .nav-link {
    padding: 0.5rem 0.1rem;
  }
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply different animation delays to each nav item */
.nav-item:nth-child(1) {
  animation-delay: 0.1s;
}

.nav-item:nth-child(2) {
  animation-delay: 0.2s;
}

.nav-item:nth-child(3) {
  animation-delay: 0.3s;
}

.nav-item:nth-child(4) {
  animation-delay: 0.4s;
}

.nav-item:nth-child(5) {
  animation-delay: 0.5s;
}